<div class="container-fluid">

  <div class="row">

    <div class="col-2">
    </div>

    <div class="col-8 bg-light">

      <h1>New Post</h1>

      <%= render 'form', post: @post %>
      <p align="center">
	<%= link_to 'Back', posts_path, class: "btn btn-secondary text-light" %>
      </p>

    </div>

    <div class="col-2">
    </div>

  </div>
</div>
